@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    <div class="display-5 text-secondary">
        สวัสดี @HttpContextAccessor.HttpContext.Session.GetString("StfName")
    </div>
}
